*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family:'font-1' ;
    src: url('./fonts/font-BoldItalic.ttf');
}
@font-face {
    font-family:'font-2' ;
    src: url('./fonts/font-Italic.ttf');
}
@font-face {
    font-family:'font-3' ;
    src: url('./fonts/font-Medium.ttf');
}
.header{
    width: 100%;
    height: 80vh;
}
.Navbar{
    width: 100%;
    height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: sticky;
    z-index: 1;
    transition: .3s ease all;

    
}
.nav--scroll{
    background-color: rgb(255,244,242);
    position: fixed;
 
    
}

.navbar_left{
   display: flex;
    gap: 40px;
   
   
}

.navbar_left img{
    width: 200px;
    
}
.navbar_left a{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'font-3';
    cursor: pointer;
    color: black;
   
}
.navbar_link{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'font-3';
    cursor: pointer;
}
.posizisya{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: 130px;
    height: 150px;
    border-radius: 15px;
    background-color: rgb(254,95,65);
    opacity: 0;
    transition: 0.25s;
    padding: 5px;
 }
 .posizisya a{
    color: white;
}
.navbar_link:hover .posizisya {
    opacity: 1;
}





.navbar_left a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom:15px;
  width: 0;
  height: 2px;
  background-color: rgb(254,95,65);
  border-radius: 5px;
  transform: translateX(0);
  transition: .5s;
  opacity: 0;
    
}
.navbar_left a:hover:after{
  opacity: 1;
  width: 100%;
   
      
  }
.Navbar_right{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.Book_table{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5000;
     
}
.Book--scroll{
   color: rgb(254,95,65);
   cursor: pointer;
   
}
.Book_table:hover{
    color: rgb(254,95,65);
    transition: 0.5s;
}
.minbok{
    width: 95px;
    height: 5px;
    background-color: rgb(254,95,65);
    border-radius: 15px;
}
.icons_phone{
    width: 200px;
    height: 50px;
    background-color: rgb(254,95,65);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom: 15px;
    overflow: hidden;
    
}
.icons_phone::after{
  content: '';
   width: 0;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.347);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: .5s;
   transform: translateX(0);
}
.icons_phone:hover:after{
    width: 100%;
    opacity: 1;
    height: 100%;
 }


.container{
    width: 100%;
    height: 80vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Container_meat{
    width: 100%;
    height: 80vh;
    background-color: rgb(255,244,242);
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 20px;
    position: relative;
    right: 100%;
    animation: boo 0.6s linear forwards;
  

} 
.Container_meat h1{
    font-size: 45px;
    color: rgb(77,49,44);
    font-weight: 10000;
    font-family: 'font-1';
}
.container_metn{
    font-size: 18px;
    font-family: 'font-3';
}
@keyframes boo {
    0%{
        right: 100%;
    }
    100%{
       right: 0;
    }
}

.container_menu{
    width: 100%;
    height: 80vh;
    position: relative;
    left: 100%;
    animation: no 0.6s linear forwards;
   
}
@keyframes no {
    0%{
        left: 100%;
    }
    100%{
       left: 0;
    }
}



[data-tural="left"]{
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s ease all;
}

[data-tural="right"]{
    transform: translateX(100%);
    opacity: 0;
    transition: .3s ease all;
}

.left,.right{
    transform: translateX(0);
    opacity: 1;
}




.container_menu .container_img img{
    width: 100%;
    height: 80vh;
}
.control{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.control iframe{
    width: 1100px;
    height: 450px;
}
.container_input_box{
    width: 100%;
   
 
  }
  .contact_box{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
  }
  .contant_flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
   gap: 20px;
  
    
  }
  .box_left{
    width: 70%;
   
   
  }
  .box_right{
    width: 50%;
    padding: 45px;
    margin-top: 20px;
  }
  .box_right_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  

  .container_repliy{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
    
   }
   .container_repliy h1{
    font-size: 25px;
     color: rgb(77,49,44);
     font-family: 'font-3';
   }
   .texterea1{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.473);
    overflow: hidden;
    
 }
 .container_repliy textarea{
    height: 200px;
    border: none;
    outline: none;
    padding: 20px;
    color: gray;
    font-size: 15px;
    font-family: 'font-2';
    
    
    
 }
 .container_repliy textarea:active{
    display: block;
 }
 .repliy_input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
 }
 .repliy_input1{
    width: 100%;
     display: flex;
    gap: 20px;
  
 }
 .repliy_input1 input{
    width: 325px;
    height:50px;
    outline: none;
    border: 1px solid rgba(128,128,128,0.473);
    font-family: 'font-2';
  }
  .repliy_input2{
     width: 100%;
 }
 .repliy_input2 input{
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid rgb(128,128,128,0.473);
    padding: 20px;
    font-family: 'font-2';
 }
 .container_right_subscribe2{
    width: 150px;
    height: 50px;
    border: 1px solid rgb(254,95,65);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'font-1';
    color: rgb(254,95,65);
    transition: .2s;
 }
 .container_right_subscribe2:hover{
    background-color: rgb(254,95,65);
    color: white;
 }
.box_right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    margin-top: 50px;
}
.box1{
    display: flex;
    gap: 15px;
}
.boxes1 i{
 font-size: 25px;
 color: gray;
}

.box2{
    display: flex;
    gap: 15px;
}
.boxes2 h3{
    font-size: 18px;
    font-family: 'font-1';
}
.boxes2 p{
    font-size: 16px;
    color: grey;
    font-family: 'font-3';
}

.box3{
    display: flex;
    gap: 15px;
}


.container_footer{
    width: 100%;
    background-color: rgb(255,247,243);
    padding: 80px;
   
     
  }
  .containers{
    max-width: 100%;
     display: grid;
    grid-template-columns: 350px 150px 150px 350px;
    grid-template-rows: 300px 150px;
    gap: 60px;
    justify-content: center;

   
   

}
.containers_box1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
}
.containers_box1 p{
    font-size: 18px;
    color: gray;
    font-family: 'font-2';
}
.containers_box2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
  
}
.containers_box2 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);

}
.containers_box2 a{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
    position: relative;
    cursor: pointer;
   

   
}
.containers_box2 a::before{
    content: '';
    width: 55px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
  
    
}
.containers_box2 a:hover:before{
    opacity: 1;
}
.containers_box3{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
    cursor: pointer;
}
.containers_box3 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);
}
.containers_box3 a{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
    position: relative;
}
.containers_box3 a::before{
    content: '';
    width: 80px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
     
}
.containers_box3 a:hover:before{
    opacity: 1;
}
.containers_box1 img{
    width: 150px;
    object-fit: contain;
}
.containers_box4{
     display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
}
.containers_box4 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);
}
.containers_box4 p{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
}
.boxss{
    color: rgb(254,95,65);
    font-size: 18px;
    font-family: 'font-2';
}
.footer_box{
    display: flex;
    gap: 10px;
 }
 .footer_box1{
    width: 40px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(254,95,65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1418px) {
    .contact_box{
        width: 100%;
    }
   
    .box_left{
        width: 65%;
    }
    .box_right{
        width: 45%;
    }
    .control iframe{
        max-width: 1000px;
    }
}
@media only screen and (max-width: 1246px) {
    .contact_box{
        width: 100%;
    }
    .contant_flex{
        max-width: 1000px;
    }
    .box_left{
        width: 60%;
    }
    .box_right{
        width: 40%;
    }
    .control iframe{
        max-width: 1000px;
    }
}
@media only screen and (max-width: 931px){
    .contant_flex{
        flex-direction: column;
    }
   
    .contact_box{
        width: 90%;
    }
    .box_left{
        width: 100%;
    }
    .control iframe{
        max-width: 800px;
    }
}
@media only screen and (max-width: 809px) {
    .contant_flex{
        flex-direction: column;
    }
    .contact_box{
        width: 100%;
    }
    .box_left{
        width: 100%;
    }
    .control iframe{
        max-width: 700px;
    }
}
@media only screen and (max-width: 701px) {
    .contant_flex{
        max-width: 750px;
        flex-direction: column;
    }
    .contact_box{
        width: 100%;
    }
    .box_left{
        width: 100%;
    }
    .control iframe{
        max-width: 650px;
    }
    
}
@media screen and (max-width: 667px){
    .contant_flex{
        max-width: 500px;
    }
    .control iframe{
        max-height:700px;
    }
    .contact_box{
        width: 90%;
    }
    .control{
        width: 90%;
        padding: 40px;
    }
}
@media screen and (max-width: 592px){
    .control{
        display: none;
    }
    .control iframe{
        display: none;
    }
    .contant_flex{
      width: 100%;
    }
    .box_left{
        width: 100%;
    }
    .contact_box{
        width: 100%;
    }
    .container_repliy{
        width: 100%;
    }
    .box_right{
        width: 100%;
    }
    .repliy_input{
        width: 100%;
    }
}
@media only screen and (max-width: 501px) {
    .control{
        display: none;
    }
    .control iframe{
        display: none;
    }
    .contant_flex{
      width: 90%;
    }
    .box_left{
        width: 100%;
    }
    .contact_box{
        width: 100%;
    }
    .container_repliy{
        width: 100%;
    }
    .box_right{
        width: 100%;
    }
    .repliy_input{
        width: 100%;
    }
}
@media only screen and (max-width: 351px) {
    .control{
        display: none;
    }
    .control iframe{
        display: none;
    }
    .contant_flex{
      width: 100%;
    }
    .box_left{
        width: 100%;
    }
    .contact_box{
        width: 100%;
    }
    .container_repliy{
        width: 100%;
    }
    .box_right{
        width: 100%;
    }
    .repliy_input{
        width: 100%;
    }
}
@media screen and (max-width: 291px){
    .contact_box{
        width: 100%;
    }
    .repliy_input1{
        width: 100%;
    }
    .repliy_input1 input{
        width: 200px;
    }
   .repliy_input{
    width: 100%;
   }
}


@media only screen and (max-width: 1360px) {
    .containers{
        grid-template-columns: 350px 150px 150px 300px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 1151px) {
    .containers{
        grid-template-columns: 300px 100px 100px 250px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 956px) {
    .containers{
        grid-template-columns: 300px  250px;
        grid-template-rows: 300px 150px;
    }
   
}
@media only screen and (max-width: 678px) {
    .containers{
        grid-template-columns: 250px  200px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 581px) {
    .containers{
        grid-template-columns: 200px  180px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 504px) {
    .containers{
        grid-template-columns: 200px;
        grid-template-rows: 300px;
    }
  
}



@media only screen and (max-width:1200px) {
    .icons_phone{
       display: none;
    }
  
}


@media only screen and (max-width:900px) {
    .navbar_left a{
       display: none;
    }
    .icons_phone{
        display: block;
        padding: 15px;
    }
}


@media only screen and (max-width:720px) {
    .navbar_left a{
       display:none;
    }
    .icons_phone{
        display: none;
      
    }
    .Book_table{
        display: none;
    }
    .container_menu{
        display: none;
    }
}


.ups a{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(254,95,65);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 45px;  
    right: 35px;
   
  
}
.ups a i{
 font-size: 23px;
 color: white;
}

    
