*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family:'font-1' ;
    src: url('./fonts/font-BoldItalic.ttf');
}
@font-face {
    font-family:'font-2' ;
    src: url('./fonts/font-Italic.ttf');
}
@font-face {
    font-family:'font-3' ;
    src: url('./fonts/font-Medium.ttf');
}

.header{
    width: 100%;
    height: 100vh;
}
.Navbar{
    width: 100%;
    height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: sticky;
    z-index: 1;
    transition: .3s ease all;

    
}
.nav--scroll{
    background-color: rgb(255,244,242);
    position: fixed;
 
    
}

.navbar_left{
    max-width: 1200px;
    display: flex;
    gap: 40px;
   
   
}

.navbar_left img{
    width: 200px;
    
}
.navbar_left a{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'font-3';
    cursor: pointer;
    color: black;
   
}
 .navbar_link{
    position: relative;
    
   
   
}
.navbar_link{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'font-3';
    cursor: pointer;
}
.posizisya{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 30px;
   width: 130px;
   height: 150px;
   border-radius: 15px;
   background-color: rgb(254,95,65);
   opacity: 0;
   transition: 0.25s;
   padding: 5px;
}
.posizisya a{
    color: white;
}
.navbar_link:hover .posizisya {
    opacity: 1;
}

.navbar_left a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom:15px;
  width: 0;
  height: 2px;
  background-color: rgb(254,95,65);
  border-radius: 5px;
  transform: translateX(0);
  transition: .5s;
  opacity: 0;
    
}
.navbar_left a:hover:after{
  opacity: 1;
  width: 100%;
   
      
  }
.Navbar_right{
    max-width: 1200px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.Book_table{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5000;
     
}
.Book--scroll{
   color: rgb(254,95,65);
   cursor: pointer;
   
}
.Book_table:hover{
    color: rgb(254,95,65);
    transition: 0.5s;
}
.minbok{
    width: 95px;
    height: 5px;
    background-color: rgb(254,95,65);
    border-radius: 15px;
}
.icons_phone{
    width: 200px;
    height: 50px;
    background-color: rgb(254,95,65);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom: 15px;
    overflow: hidden;
    
}
.icons_phone::after{
  content: '';
   width: 0;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.347);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: .5s;
   transform: translateX(0);
}
.icons_phone:hover:after{
    width: 100%;
    opacity: 1;
    height: 100%;
 }


.container{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Container_meat{
    width: 100%;
    background-color: rgb(255,247,243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    gap: 20px;
    position: relative;
    right: 100%;
    animation: boo 0.6s linear forwards;
  

} 
.Container_meat h1{
    font-size: 40px;
    font-family: 'font-3';
    color: rgb(77,49,44);
}
@keyframes boo {
    0%{
        right: 100%;
    }
    100%{
       right: 0;
    }
}

.container_menu{
    width: 100%;
    height: auto;
    position: relative;
    left: 100%;
    animation: no 0.6s linear forwards;
    overflow: hidden;
   
   
}
@keyframes no {
    0%{
        left: 100%;
    }
    100%{
       left: 0;
    }
}
@media only screen and (max-width:760px) {
    .container_menu{
        width: 0;
    }
    .Container_meat{
        width: 100%;
    }
}


[data-tural="left"]{
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s ease all;
}

[data-tural="right"]{
    transform: translateX(100%);
    opacity: 0;
    transition: .3s ease all;
}

.left,.right{
    transform: translateX(0);
    opacity: 1;
}




.container_menu .container_img img{
    width: 100%;
    height: 600px;
    
}
.container_metn {
    display: flex;
   font-size: 20px;
}
.Our_menu{
    width: 150px;
    height: 50px;
    background-color: rgb(254,95,65);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    position: relative;
    overflow: hidden;
    
    
}
.Our_menu::after{
    content: '';
    width: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.347);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    transform: translateX(0);
    
    
}
.Our_menu:hover:after{
    width: 100%;
    opacity: 1;
    height: 100%;
}





.Our_menubox{
    display: flex;
    gap: 10px;
}
.Our_watch{
    width: 200px;
    height: 50px;
    background-color: rgb(255,244,242);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    padding: 10px;
    color: rgb(254,95,65);
    text-decoration: none;
    font-size: 20px;
}
.Couple{
    max-width: 300px;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 80px;
    margin-left: 100px;
    gap: 20px;
    padding: 30px;
    border-radius: 40px;
}

.Couple img{
    width: 50px;
    object-fit: contain;
}
.Couple_flex{
    display: flex;
    gap: 20px;
}
.start{
    display: flex;
    flex-direction: column;
    gap: 5px;

  
}
.Robert{
    color: rgb(254,95,65);
}  
.Healty{
    max-width: 100%;
    background-color: rgb(255,255,255);
   
    
}
.conform_heatly{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    
}
.conform_heatly h1{
    font-size: 34px;
    font-weight: 1000;
    font-family: 'font-3';
    color: rgb(77,49,44);
   
}
.conform_heatly p{
    color: gray;
    font-size: 18px;
    font-family: 'font-1';
}

.Conform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
}
.Bets{
    font-size: 40px;
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(77,49,44);
}
.Menu_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    flex-wrap: wrap;
}

.menu_box1{
   max-width: 350px;
   max-height:320px;
   border: 1px solid rgba(128, 128, 128, 0.31);
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding:50px 50px;
   border-radius: 10px;
  transition: 1s;
  
}
.menu_box1:hover{
 border: 1px solid white;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
}
  .meal1{
    font-size: 25px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
    cursor: pointer;
    
  }  
 .box_hover{
   transition: 0.6s;
    text-align: center;
    color: rgb(77,49,44);
 }
 .box_hover:hover{
    color: rgb(254,95,65);
  }
  .Populars{
  width: 100%;
  height: auto;
  background-color: rgb(76,50,45);
  padding: 45px 50px 60px;
  display: flex;
  justify-content: center;

  
 
 
 }
 .contents{
    max-width: 1200px;
  width: 100%;
    
    
 }
 


.Most_popular{
    
    display: flex;
    justify-content: space-between;
    
   
    
 }
 
 
  .navbar_bottom{
    width: 100;
    height: 1px;
    background-color: gray;
   position: relative;
   bottom: 14px;
  }
 
 
 .Most_popular_left{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.menu_popular{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  
}
.Most_dinhes{
    color: white;
    font-size: 40px;
}
.boxs1{
    color: rgb(254,95,65);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    top: 6px;
}
.breakfast{
    width: 75px;
    height: 6px;
    background-color: rgb(254,95,65);
    margin-top: 10px;
}

.boxs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
   
}
.boxs::before{
    content: '';
    width:65px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    left: 10;
    opacity: 0;
    
    
   
}
.boxs:hover:before{
    content: '';
    width:65px;
    height: 5px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 37px;
    left: 10;
    opacity: 1;
    transition: 0.5s;
    
   
}

.Most_popular_right{
    font-size: 20px;
    color: white;
    max-width: 150px;
    height: 60px;
    background-color: rgb(254,95,65);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    position: relative;
    overflow: hidden;
}
.Most_popular_right::after{
   content: '';
   width: 0;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.347);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: .5s;
   transform: translateX(0);

}
.Most_popular_right:hover:after{
    width: 100%;
    opacity: 1;
    height: 100%;
 
      
 }

 
 @media screen and (max-width: 671px){
    .Most_popular{
        flex-direction: column;
    }
 }
 .wrapper{
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

   
   
 }
 
.wrapper .carousel{
  
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
 }
 .wrapper i {
  font-size: 30px;
  color: gray;
 }


 .card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    
 }
 .carousel::-webkit-scrollbar{
    display: none;
 }
 
 .carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .carousel.dragging.card{
    cursor: grab;
    user-select: none;
 }
 
 .carousel.dragging{
    scroll-snap-type:none ;
    scroll-behavior: auto;
 }
 
  .carousel .card {
    list-style: none;
    background-color: white;
    border-radius: 8px;
    height: 342px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
    cursor: pointer;
 }

 .card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
 }
 .card p{
    color: gray;
    font-size: 1.31rem;
 }



.card_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.order_xett{
    width: 80px;
    height: 4px;
    background-color: rgb(254,95,65);
    border-radius: 10px;
}
.order_now{
  color: rgb(254,95,65);
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  font-size: 18px;
  transform: scale(1);
  transition: .2s;
}
.order_now:hover{
    transform: scale(1.1);
    
}

@media screen and (max-width: 1261px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
       
    }
 }
 @media screen  and (max-width:600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}


 


.About_container{
    background-color:rgb(255,255,255);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.About_left ,.About_right{
    max-width: 50%;
    height: 100%;
    
}
.About_right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    
}
.About_left img{
    max-width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}


.About_right h1{
    font-size: 35px;
    font-family: 'font-2';
    color: rgb(76,50,45);
    font-weight: 1000;
}
.About_right p{
    font-size: 16px;
    color: grey ;
    width: 70%;
    font-family: 'font-3';
}
.form1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.input1 input{
   width: 450px;
   height: 50px;
   padding: 10px;
   border-radius: 10px;
   outline: none;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input1 input:focus-visible{
    border: 1px solid rgb(254,95,65);
}
.input2 input{
    width: 225px;
    height: 40px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input2 input:focus-visible{
    border: 1px solid rgb(254,95,65);
}
.dinnar_select{
    width: 225px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dinnar_select:focus-visible{
    border: 1px solid rgb(254,95,65);
}
.input3 input{
    width: 450px;
    height:50px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input3 input:focus-visible{
    border: 1px solid rgb(254,95,65);
}

.input4 input{
    width: 450px;
    height: 50px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input4 textarea:focus-visible{
    border: 1px solid rgb(254,95,65);
}
.Sent_request{
    font-size: 20px;
    color: white;
    max-width: 450px;
    height: 60px;
    background-color: rgb(254,95,65);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    position: relative;
    overflow: hidden;
}
.Sent_request::after{
    content: '';
    width: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.347);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    transform: translateX(0);
}
.Sent_request:hover:after{
    width: 100%;
    opacity: 1;
    height: 100%;
 
      
 }

@media screen and (max-width: 960px){
    .input1 input{
      width: 100%;
    }
    .input2 input{
        width:100%;
    }
    .dinnar_select{
        width: 100%;
    }
    .input2{
       display: flex;
       gap: 20px;
    }
    .input3 input{
        width: 100%;
    }
    .input4 input{
        width: 100%;
    }
  
}

.Carousel_div2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Carousel_div2_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.Carousel_div2 h1{
  font-size: 40px;
  font-weight: 100000;
  color: rgb(76,50,45);
  font-family: Arial, Helvetica, sans-serif;
}
.Carousel_div2 p{
    font-size: 18px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.Tuna_carousel{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.wrapper1 .carousel1{
    max-width: 1200px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel1.dragging1{
    scroll-behavior: auto;
}
.carousel1.dragging1 .card1{
   cursor: grab;
   user-select: none;
}

.wrapper1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 45px;
    
    
}
.card1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.carousel1 .card1 p{
    font-size: 18px;
    color: gray;
}
.carousel1 .card1{
    list-style: none;
    background: white;
    border-radius: 12px;
    height: 342px;
    border: 1px solid rgba(128, 128, 128, 0.252);
    padding: 40px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     
   
    
}
.wrapper1 i{
    font-size: 28px;
    color: gray;
    cursor: pointer;
    

}
@media screen and (max-width: 900px){
    .wrapper1 .carousel1{
        grid-auto-columns: calc((100% / 2) - 12px);
        
    }
    .card1_xett{
        position: relative;
        right: 45px;
    }

}
@media screen  and (max-width:600px){
    .wrapper1 .carousel1{
        grid-auto-columns: 100%;
    }
}
.card1_xett{
    width: 55px;
    height: 3px;
    background-color:rgba(128, 128, 128, 0.275);
    text-align: center;
  
    
    
}
.canva{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}
.canva_flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.corusel_starts i{
   font-size: 16px;
   color: rgb(254,95,65);
}
.carousel3_slice{
    width: 100%;
    height: 80vh;
    background-color: red;
    min-height: 100vh;
    
}


.wrapper3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}
.wrapper3 .carousel5{
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    
}
.carousel5 .dragging2{
    cursor: grab;
    scroll-behavior: auto;

} 
.carousel5 .dragging2 img{
    pointer-events: none;
}
.carousel5 img{
    object-fit: cover;
    width: calc(100% /4);
}

@media  screen and (max-width: 900px) {
    .carousel5 img{
        width: calc(100% /3);
    }
}
@media  screen and (max-width: 600px) {
    .carousel5 img{
        width: calc(100% /2);
    }
}
.div_icons{
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(254,95,65);
    cursor: pointer;
    text-decoration: none;

} 
.div1 i{
    font-size: 18px;
}
.div2 p{
    font-size: 20px;
    font-weight: 50000;
}
.container_footer{
  width: 100%;
  background-color: rgb(255,247,243);
  padding: 80px;
  background-color: rgb(255,247,243);


  
    
}
.containers{
    max-width: 100%;
    display: grid;
    grid-template-columns: 350px 150px 150px 350px;
    grid-template-rows: 300px 150px;
    gap: 60px;
    justify-content: center;
   
   
 
}
.containers_box1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
}
.containers_box1 p{
    font-size: 18px;
    color: gray;
    font-family: 'font-2';
}
.containers_box2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
  
}



.containers_box2 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);

}
.containers_box2 a{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
    position: relative;
    cursor: pointer;
   

   
}
.containers_box2 a::before{
    content: '';
    width: 55px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
  
    
}
.containers_box2 a:hover:before{
    opacity: 1;
}

.containers_box3{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
    cursor: pointer;
}
.containers_box3 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);
}
.containers_box3 a{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
    position: relative;
}
.containers_box3 a::before{
    content: '';
    width: 80px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
     
}
.containers_box3 a:hover:before{
    opacity: 1;
}


.containers_box1 img{
    width: 150px;
    object-fit: contain;
}
.containers_box4{
    
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
}
.containers_box4 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);
}
.containers_box4 p{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
}
.boxss{
    color: rgb(254,95,65);
    font-size: 18px;
    font-family: 'font-2';
}


.footer_box{
   display: flex;
   gap: 10px;
}
.footer_box1{
    width: 40px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(254,95,65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1360px) {
    .containers{
        grid-template-columns: 350px 150px 150px 300px;
        grid-template-rows: 300px 150px;
    }
}

@media only screen and (max-width:1264px) {
    .contant_flex{
       flex-direction: column;
       justify-content: center;
    }
}
@media only screen and (max-width:1200px) {
    .icons_phone{
       display: none;
    }
}
@media only screen and (max-width: 1151px) {
    .containers{
        grid-template-columns: 300px 100px 100px 250px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 956px) {
    .containers{
        grid-template-columns: 300px  250px;
        grid-template-rows: 300px 150px;
    }
   
}
@media only screen and (max-width: 678px) {
    .containers{
        grid-template-columns: 250px  200px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 581px) {
    .containers{
        grid-template-columns: 200px  180px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 504px) {
    .containers{
        grid-template-columns: 200px;
        grid-template-rows: 300px 150px 150px 250px;
    }
}

@media only screen and (max-width:1000px) {
    .About_container{
        
        flex-direction: column;
    }
    .About_left,.About_right{
        width: 100%;
    }
  
}

@media only screen and (max-width:900px) {
    .navbar_left a{
       display: none;
    }
    .icons_phone{
        display: block;
        padding: 15px;
        font-size: 14px;
    }
}
@media only screen and (max-width:720px) {
    .navbar_left a{
       display:none;
    }
    .icons_phone{
        display: none;
      
    }
    .Book_table{
        display: none;
    }
}
@media only screen and (max-width:600px){
    .About_container{
        min-width: 100%;
    }
}

.ups a{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(254,95,65);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 45px;  
    right: 35px;
   
  
}
.ups a i{
 font-size: 23px;
 color: white;
}


 
 
 





    





