*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family:'font-1' ;
    src: url('./fonts/font-BoldItalic.ttf');
}
@font-face {
    font-family:'font-2' ;
    src: url('./fonts/font-Italic.ttf');
}
@font-face {
    font-family:'font-3' ;
    src: url('./fonts/font-Medium.ttf');
}
.header{
    width: 100%;
    height: 100vh;
}
.Navbar{
    width: 100%;
    height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: sticky;
    z-index: 1;
    transition: .3s ease all;

    
}
.nav--scroll{
    background-color: rgb(255,244,242);
    position: fixed;
 
    
}

.navbar_left{
    display: flex;
    gap: 40px;
   
   
}

.navbar_left img{
    width: 200px;
    
}
.navbar_left a{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'font-3';
    cursor: pointer;
    color: black;
   
}
.navbar_link{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'font-3';
    cursor: pointer;
}
.posizisya{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 30px;
   width: 130px;
   height: 150px;
   border-radius: 15px;
   background-color: rgb(254,95,65);
   opacity: 0;
   transition: 0.25s;
   padding: 5px;
}
.posizisya a{
    color: white;
}
.navbar_link:hover .posizisya {
    opacity: 1;
}




.navbar_left a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom:15px;
  width: 0;
  height: 2px;
  background-color: rgb(254,95,65);
  border-radius: 5px;
  transform: translateX(0);
  transition: .5s;
  opacity: 0;
    
}
.navbar_left a:hover:after{
  opacity: 1;
  width: 100%;
   
      
  }
.Navbar_right{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.Book_table{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5000;
     
}
.Book--scroll{
   color: rgb(254,95,65);
   cursor: pointer;
   
}
.Book_table:hover{
    color: rgb(254,95,65);
    transition: 0.5s;
}
.minbok{
    width: 95px;
    height: 5px;
    background-color: rgb(254,95,65);
    border-radius: 15px;
}
.icons_phone{
    width: 200px;
    height: 50px;
    background-color: rgb(254,95,65);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom: 15px;
    overflow: hidden;
    
}
.icons_phone::after{
  content: '';
   width: 0;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.347);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: .5s;
   transform: translateX(0);
}
.icons_phone:hover:after{
    width: 100%;
    opacity: 1;
    height: 100%;
 }

 .Populars{
    width: 100%;
    height: auto;
    padding: 45px 50px 60px;
    display: flex;
    
    justify-content: center;
  
    
   
   
   }
   .contents{
      max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
      
   }
   
  
  
  .Most_popular{
      display: flex;
      justify-content: space-between;
     
      
   }
   
   
    .navbar_bottom{
      width: 100;
      height: 1px;
      background-color: gray;
     position: relative;
     bottom: 14px;
    }
   
   
   .Most_popular_left{
      
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
  .menu_popular{
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    
  }
  .Most_dinhes{
      color:rgb(76,50,45);
      font-size: 40px;
  }
  .boxs1{
      color: rgb(254,95,65);
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      top: 6px;
  }
  .breakfast{
      width: 75px;
      height: 6px;
      background-color: rgb(254,95,65);
      margin-top: 10px;
  }
  
  .boxs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(76,50,45);
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      cursor: pointer;
     
  }
  .boxs::before{
      content: '';
      width:65px;
      height: 4px;
      background-color: rgb(254,95,65);
      position: absolute;
      left: 10;
      opacity: 0;
      
      
     
  }
  .boxs:hover:before{
      content: '';
      width:65px;
      height: 5px;
      background-color: rgb(254,95,65);
      position: absolute;
      top: 37px;
      left: 10;
      opacity: 1;
      transition: 0.5s;
      
     
  }
  
  .Most_popular_right{
      font-size: 20px;
      color: white;
      max-width: 150px;
      height: 60px;
      background-color: rgb(254,95,65);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      position: relative;
      overflow: hidden;
  }
  .Most_popular_right::after{
     content: '';
     width: 0;
     height: 60px;
     background-color: rgba(0, 0, 0, 0.347);
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition: .5s;
     transform: translateX(0);
  
  }
  .Most_popular_right:hover:after{
      width: 100%;
      opacity: 1;
      height: 100%;
   
        
   }
  
   
   @media screen and (max-width: 671px){
      .Most_popular{
          flex-direction: column;
      }
   }
   .grid_coluns{
    width: 100%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 450px 450px;
    column-gap: 20px;
    row-gap: 25px;
    
   }

   .grid1{
    border: 1px solid rgba(128, 128, 128, 0.471);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
     gap: 15px;
    padding: 20px;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
   }
   .grid1:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .order_now{
    font-size: 18px;
    color: rgb(254,95,65);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
   }
   .order_now:hover{
    transform: scale(1.1);
   }
   .order_now::before{
    content:"";
    width: 80px;
    height: 2px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;

  
   }
   .grid1 img{
    width: 230px;
    height: 200px;
    object-fit: contain;
   }
   .grid_text{
    width: 100%;
    padding: 20px;
   }
   .grid_text h1{
    font-size: 24px;
    font-family: 'font-1';
    font-weight: 1000;
   }
   .grid_text p{
    font-size: 16px;
    font-family: 'font-3';
    color: gray;
   }
   .grid2{
    border: 1px solid rgba(128, 128, 128, 0.471);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    gap: 15px;
    padding: 20px;
   }
   .grid2:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .grid2 img{
    width: 230px;
    height: 200px;
    object-fit: contain;
   }
   .grid3{
    border: 1px solid rgba(128, 128, 128, 0.471);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    gap: 15px;
    padding: 20px;
   }
   .grid3:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .grid3 img{
    width: 230px;
    height: 200px;
    object-fit: contain;
   }
   
   .grid4{
    border: 1px solid rgba(128, 128, 128, 0.471);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    gap: 15px;
    padding: 20px;
   }
   .grid4:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .grid4 img{
    width: 230px;
    height: 200px;
    object-fit: contain;
   }
   .grid5{
    border: 1px solid rgba(128, 128, 128, 0.471);
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    gap: 15px;
    padding: 20px;
   }
   .grid5:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .grid5 img{
    width: 230px;
    height: 200px;
    object-fit: contain;
   }
    
   .grid6{
    border: 1px solid rgba(128, 128, 128, 0.471);
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    gap: 15px;
    padding: 20px;
   
   }
   .grid6:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .grid6 img{
    width: 230px;
    height: 200px;
    object-fit: contain;
   }
   @media only screen and (max-width: 1155px) {
    
    .grid_coluns{
        width: 100%;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 400px 400px;
        column-gap: 20px;
        row-gap: 25px;
    }
    .grid1_img img{
        width: 200px;
    }
    .grid1{
        padding: 10px;
        gap: 10px;
    }
    .grid2{
        padding: 10px;
        gap: 10px;
    }
    .grid3{
        padding: 10px;
        gap: 10px;
    }
    .grid4{
        padding: 10px;
        gap: 10px;
    }
    .grid5{
        padding: 10px;
        gap: 10px;
    }
    .grid6{
        padding: 10px;
        gap: 10px;
    }
}
@media only screen and (max-width: 1008px) {
    .grid_coluns{
        width: 100%;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 400px 400px;
        column-gap: 20px;
        row-gap: 25px;
    }
}
@media only screen and (max-width: 855px) {
    .grid_coluns{
        width: 100%;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 400px 400px 400px;
        column-gap: 20px;
        row-gap: 25px;
    }
    .grid1_img img{
        width: 180px;
    }
}
@media only screen and (max-width: 675px){
    .grid_coluns{
        width: 100%;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 350px 350px 350px;
        column-gap: 20px;
        row-gap: 25px;
    }
    .grid1_img img{
        width: 150px;
    }
    .grid_text p{
        font-size: 12px;

    }
    .grid1{
        padding: 5px;
        gap: 5px;
    }
    .grid2{
        padding: 5px;
        gap: 5px;
    }
    .grid3{
        padding: 5px;
        gap: 5px;
    }
    .grid4{
        padding: 5px;
        gap: 5px;
    }
    .grid5{
        padding: 5px;
        gap:5px;
    }
    .grid6{
        padding:5px;
        gap:5px;
    }
        
    
}


@media only screen and (max-width: 579px){
    .grid_coluns{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        column-gap: 20px;
        row-gap: 25px;
      
    }
    .grid1_img img{
        width: 120px;
    }
  .grid1{
    overflow: hidden;
  }
  .grid2{
    overflow: hidden;
  }
  .grid3{
    overflow: hidden;
  }
  .grid4{
    overflow: hidden;
  }
  .grid5{
    overflow: hidden;
  }
  .grid6{
    overflow: hidden;
  }
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Container_meat{
    width: 100%;
    height: 80vh;
    background-color: rgb(255,244,242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 20px;
    position: relative;
    right: 100%;
    animation: boo 0.6s linear forwards;
  

} 
.Container_meat h1{
    font-size: 45px;
    color: rgb(77,49,44);
    font-weight: 10000;
    font-family: 'font-1';
}
.container_metn{
    font-size: 18px;
    font-family: 'font-3';
}
@keyframes boo {
    0%{
        right: 100%;
    }
    100%{
       right: 0;
    }
}

.container_menu{
    width: 100%;
    height: 80vh;
    position: relative;
    left: 100%;
    animation: no 0.6s linear forwards;
   
}
@media only screen and (max-width:930px) {
    .container_menu{
        width: 0;
    }
}
@media only screen and (max-width:270px){
    .container_menu{
        width: 0;
    }
    .Container_meat{
        width: 100%;
    }
}
@keyframes no {
    0%{
        left: 100%;
    }
    100%{
       left: 0;
    }
}



[data-tural="left"]{
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s ease all;
}

[data-tural="right"]{
    transform: translateX(100%);
    opacity: 0;
    transition: .3s ease all;
}

.left,.right{
    transform: translateX(0);
    opacity: 1;
}




.container_menu .container_img img{
    width: 100%;
    height: 80vh;
    
}




  .wrapper3{
     display: flex;
    justify-content: center;
    align-items: center;
   
}

.wrapper3 .carousel5{
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    
}
.carousel5 .dragging2{
    cursor: grab;
    scroll-behavior: auto;

} 
.carousel5 .dragging2 img{
    pointer-events: none;
}
.carousel5 img{
    object-fit: contain;
    width: calc(100% /4);
}
@media  screen and (max-width: 900px) {
    .carousel5 img{
        width: calc(100% /3);
    }
}
@media  screen and (max-width: 600px) {
    .carousel5 img{
        width: calc(100% /2);
    }
}
.div_icons{
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(254,95,65);
    cursor: pointer;
    text-decoration: none;

}
.div1 i{
    font-size: 18px;
} 
.div2 p{
    font-size: 20px;
    font-weight: 50000;
}
.container_footer{
    width: 100%;
    background-color: rgb(255,247,243);
    padding: 80px;
    background-color: rgb(255,247,243);
 
      
  }
  .containers{
    max-width: 100%;
    display: grid;
    grid-template-columns: 350px 150px 150px 300px;
    grid-template-rows: 300px 150px;
    gap: 60px;
    justify-content: center;
   
   
 
}
.containers_box1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
}
.containers_box1 p{
    font-size: 18px;
    color: gray;
    font-family: 'font-2';
}
.containers_box2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
  
}

.containers_box2 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);

}
.containers_box2 a{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
    position: relative;
    cursor: pointer;
   
   
}
.containers_box2 a::before{
    content: '';
    width: 55px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
   
}
.containers_box2 a:hover:before{
    opacity: 1;
}
.containers_box3{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
    cursor: pointer;
}
.containers_box3 h3{
    font-family: 'font-1';
    color: rgb(76,50,45);
}
.containers_box3 a{
    font-size: 18px;
    color: gray;
    font-family: 'font-1';
    position: relative;
}
.containers_box3 a::before{
    content: '';
    width: 80px;
    height: 4px;
    background-color: rgb(254,95,65);
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
     
}
.containers_box3 a:hover:before{
    opacity: 1;
}
.containers_box1 img{
    width: 150px;
    object-fit: contain;
}
.containers_box4{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
}
.containers_box4 h3{
  font-family: 'font-1';
  color: rgb(76,50,45);
}
.containers_box4 p{
     font-size: 18px;
      color: gray;
     font-family: 'font-1';
}

.footer_box{
    display: flex;
    gap: 10px;
 }
 .footer_box1{
    width: 40px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(254,95,65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1360px) {
    .containers{
        grid-template-columns: 350px 150px 150px 300px;
        grid-template-rows: 300px 150px;
    }
    
}
@media only screen and (max-width: 1151px) {
    .containers{
        grid-template-columns: 300px 100px 100px 250px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 956px) {
    .containers{
        grid-template-columns: 300px  250px;
        grid-template-rows: 300px 150px;
    }
  
}
@media only screen and (max-width: 678px) {
    .containers{
        grid-template-columns: 250px  200px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 581px) {
    .containers{
        grid-template-columns: 200px  180px;
        grid-template-rows: 300px 150px;
    }
}
@media only screen and (max-width: 504px) {
    .containers{
        grid-template-columns: 200px;
        grid-template-rows: 300px 150px 150px 250px;
    }
}


@media only screen and (max-width:1264px) {
    .contant_flex{
       flex-direction: column;
       justify-content: center;
    }
}
@media only screen and (max-width:1200px) {
    .icons_phone{
       display: none;
    }
}

 


@media only screen and (max-width:900px) {
    .navbar_left a{
       display: none;
    }
    .icons_phone{
        display: block;
        padding: 15px;
        font-size: 14px;
    }
}


   

   


@media only screen and (max-width:720px) {
    .navbar_left a{
       display:none;
    }
    .icons_phone{
        display: none;
      
    }
    .Book_table{
        display: none;
    }
}
.ups a{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(254,95,65);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 45px;  
    right: 35px;
   
  
}
.ups a i{
 font-size: 23px;
 color: white;
}




    

